@require "../../../common/stylus/variable.styl"
.afo-navbar
  align-items: center
  background-color: $fill-base
  box-sizing: border-box
  color: $color-text-base
  display: flex
  font-size: 14px
  height: $header-height
  line-height: 1
  padding: 0 10px
  position: relative
  text-align: center
  white-space: nowrap
  width: 100%
  .afo-navbar-title
    font-size: inherit
    font-weight: normal
    flex: 1
  .afo-button
    background-color: transparent
    border: 0
    box-shadow: none
    color: inherit
    display: inline-block
    padding: 0
    font-size: inherit
  .afo-button::after
    border: none
.is-fixed
  position: fixed
  top: 0
  left: 0
  z-index: $z-index-normal